<table ng-controller="containersController" st-table="displayedContainers" st-safe-src="containers" class="table table-striped fixed sortable">
  <thead>
   <tr>
      <td colspan="10" class="text-left">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input st-search="" type="text" class="form-control" placeholder="Search">
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th st-sort="id">ID</th>
      <th st-sort="image">Image</th>
      <th st-sort="command">Command</th>
      <th st-sort="created">Created&nbsp;At</th>
      <th st-sort="runningFor">Running&nbsp;For</th>
      <th st-sort="ports">Ports</th>
      <th st-sort="status">Status</th>
      <th st-sort="size">Size</th>
      <th st-sort="names">Names</th>
      <th st-sort="labels">Labels</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="container in displayedContainers">
      <td>{{ container.id | limitTo:12 }}</td>
      <td>{{ container.image | limitTo:12 }}</td>
      <td>{{ container.command }}</td>
      <td>{{ container.createdAt }}</td>
      <td>{{ container.runningFor }}</td>
      <td>{{ container.ports }}</td>
      <td>{{ container.status }}</td>
      <td>{{ container.size }}</td>
      <td>{{ container.names | replace:",":", " }}</td>
      <td>{{ container.labels | replace:",":", " }}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="10" class="text-center">
        <div st-pagination="" st-items-by-page="10"></div>
      </td>
    </tr>
  </tfoot>
</table>
