<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar fa-ul">
    <li ng-class="{active: sideActiveTab == 'overview'}"><a href="#/hosts/overview"><span class="fa fa-map-o"></span>&emsp;Overview</a></li>
    <li ng-class="{active: sideActiveTab == 'network'}"><a href="#/hosts/network"><span class="fa fa-sitemap"></span>&emsp;Network</a></li>
    <li ng-class="{active: sideActiveTab == 'storage'}"><a href="#/hosts/storage"><span class="fa fa-database"></span>&emsp;Storage</a></li>
    <li ng-class="{active: sideActiveTab == 'system'}"><a href="#/hosts/system"><span class="fa fa-server"></span>&emsp;System</a></li>
    <li ng-class="{active: sideActiveTab == 'docker'}"><a href="#/hosts/docker"><span class="icon-docker"></span>&emsp;Docker</a></li>
  </ul>
</div>
