<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar fa-ul">
    <li class="active"><a href="#/hosts/overview"><span class="fa fa-tachometer"></span>&emsp;Overview</a></li>
    <li><a href="#/hosts/network"><span class="fa fa-sitemap"></span>&emsp;Network</a></li>
    <li><a href="#/hosts/storage"><span class="fa fa-database"></span>&emsp;Storage</a></li>
    <li><a href="#/hosts/system"><span class="fa fa-server"></span>&emsp;System</a></li>
    <li><a href="#/hosts/docker"><span class="icon-docker"></span>&emsp;Docker</a></li>
  </ul>
</div>
