.DS_Store

# Ignore packer cache and artifacts
packer_cache
packer_output

# Ignore salt cache
salt_cache

# Ignore scripts cache
scripts_cache

# Ignore boot image artifacts
/boot-images/*/apkovl.tar.gz
/boot-images/*/initrd
/boot-images/*/kernel
