.DS_Store

# Ignore packer cache and artifacts
packer_cache
packer_output

# Ignore salt cache
salt_cache

# Ignore boot image artifacts
/boot-images/*/release
/boot-images/*/initrd
/boot-images/*/kernel
