<!-- Header -->
<div ng-include='"templates/header.html"'></div>

<div class="container-fluid">
  <div class="row">

    <!-- Sidebar -->
    <div ng-include='"partials/host/sidebar.html"'></div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <uib-tabset active="activeJustified" justified="true">

        <uib-tab index="0" heading="General">
          <div ng-include="'partials/host/docker/general.html'"></div>
        </uib-tab>

        <uib-tab index="1" heading="Images">
          <div ng-include="'partials/host/docker/images.html'"></div>
        </uib-tab>

        <uib-tab index="2" heading="Containers">
          <div ng-include="'partials/host/docker/containers.html'"></div>
        </uib-tab>

      </uib-tabset>

    </div>

  </div>
</div>

<!-- Footer -->
<div ng-include='"templates/footer.html"'></div>
