<!-- Header -->
<div ng-include='"templates/header.html"'></div>

<div class="container-fluid">
  <div class="row">

    <!-- Sidebar -->
    <div ng-include='"partials/host/sidebar.html"'></div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <div ng-controller="osController">
        <uib-tabset active="activeJustified" justified="true">

          <uib-tab index="0" heading="Interfaces">
            <ng-include src="'partials/host/network/interfaces.html'"></ng-include>
          </uib-tab>

          <uib-tab index="1" heading="Routes">
            <ng-include src="'partials/host/network/routes.html'"></ng-include>
          </uib-tab>

        </uib-tabset>
      </div>

    </div>

  </div>
</div>

<!-- Footer -->
<div ng-include='"templates/footer.html"'></div>
