<table ng-controller="interfacesController" st-table="displayedInterfaces" st-safe-src="interfaces" class="table table-striped fixed sortable">
  <thead>
   <tr>
      <td colspan="5" class="text-left">
        <ng-include src="'partials/st_search.html'"></ng-include>
      </td>
    </tr>
    <tr>
      <th st-sort="name">Name</th>
      <th st-sort="mtu">MTU</th>
      <th st-sort="ipAddr">IP Address</th>
      <th st-sort="hwAddr">HW Address</th>
      <th st-sort="Flags">Flags</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="interface in displayedInterfaces">
      <td>{{ interface.name }}</td>
      <td>{{ interface.mtu }}</td>
      <td>{{ interface.ipAddr | joinBy:', ' }}</td>
      <td>{{ interface.hwAddr }}</td>
      <td>{{ interface.flags | joinBy:' ' }}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5" class="text-center">
        <div st-pagination="" st-items-by-page="10"></div>
      </td>
    </tr>
  </tfoot>
</table>
