[Unit]
Description=Dock2Box
Requires=docker.service
After=docker.service

[Service]
Restart=on-failure
RestartSec=10
WorkingDirectory=/etc/dock2box
ExecStart=/usr/bin/docker-compose up --no-color
ExecStop=/usr/bin/docker-compose stop
ExecStop=/usr/bin/docker-compose rm -f

[Install]
WantedBy=multi-user.target
