[Unit]
Description=/usr/local/sbin/firstboot.sh
ConditionFileIsExecutable=/usr/local/sbin/firstboot.sh
Wants=network.target network-online.target
After=network.target network-online.target ntpdate.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/firstboot.sh
TimeoutSec=0
StandardOutput=tty
RemainAfterExit=yes
SysVStartPriority=99

[Install]
WantedBy=multi-user.target
