{{template "head" .}}
<table data-toggle="table"
       data-url="/sysctl/json"
       data-pagination="true"
       data-sort-name="key"
       data-sort-order="asc"
       data-show-toggle="true"
       data-search="true"
       data-select-item-name="toolbar"
       data-cache="true"
       class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th data-field="key" data-sortable="true">Key</th>
      <th data-field="value" data-sortable="true">Value</th>
    </tr>
  </thead>
</table>
{{template "footer" .}}
