{{define "no_subnet"}}
set menu-timeout 50000
set menu-default retry

:start
imgfree

menu Dock2Box
item --gap -- Subnet: {{.Network}}/{{.Prefix}}
item --gap -- Mask: {{.Netmask}}, Gateway: {{.Gateway}}
item --gap --
item --gap -- Please register subnet in Dock2Box before proceeding.
item --gap --
item --gap -- {{center 65 "-" " Menu "}}
item localdisk Boot from local disk
item retry Retry PXE boot
choose --default ${menu-default} --timeout ${menu-timeout} selected
goto ${selected}

:localdisk
sanboot --no-describe --drive 0x80

:retry
autoboot
{{end}}
