{{define "registered"}}#!ipxe
set menu-timeout 10000
set submenu-timeout 10000
{{if eq .Host.Build true}}set menu-default {{.Host.Image.Image}}
set submenu-default {{.Host.Version}}{{else}}
set menu-default localdisk
set submenu-default localdisk{{end}}
set server localhost
set boot-image {{.Host.Image.BootImage.Image}}
set boot-version {{.Host.Image.BootImageVersion}}
set boot-kopts {{.Host.Image.BootImage.KOpts}}

:start
imgfree

menu Dock2Box, hostname: {{.Host.Host}}
item --gap -- ------------------------- Info -------------------------
item --gap -- build: {{.Host.Build}}, debug: {{.Host.Debug}}, site: {{.Host.Site.Site}}
item --gap -- subnet: {{.Network}}/{{.Prefix}}, registry: {{.Host.Site.DockerRegistry}}
item --gap -- hwaddr: {{.HWAddr}}, ipv4: {{.IPv4}}
item --gap -- ----------------------- Dock2Box -----------------------
item localdisk Boot from local disk
item register Register host
item --gap -- ------------------------ Images ------------------------
{{range .Images}}item {{.Image}} {{.Image}}
{{end}}choose --default ${menu-default} --timeout ${menu-timeout} selected
goto ${selected}

{{range $k, $e := .Images}}:{{$e.Image}}
menu Dock2Box, image: {{$e.Image}}
item --gap -- ----------------------- Versions -----------------------
item --key 0x08 back .. (top menu)
{{range .Versions}}item {{$e.Image}}-{{.Version}} version: {{.Version}} created: {{.Created}}
{{end}}choose --default ${menu-default}-${submenu-default} --timeout ${menu-timeout} selected
goto ${selected}
:back
goto start

:localdisk
localboot

{{range .Versions}}:{{$e.Image}}-{{.Version}}
kernel http://${server}/boot/${boot-image}/${boot-version}/kernel BOOTIF={{$.HWAddr}} IP={{$.IPv4}} NETMASK={{$.Netmask}} GATEWAY={{$.Gateway}} IMAGE={{$e.Image}} IMAGE_VERSION={{.Version}} ${boot-kopts}
initrd http://${server}/boot/${boot-image}/${boot-version}/initrd
boot

{{end}}{{end}}{{end}}
