{{define "unregistered"}}
set menu-timeout 50000
set menu-default retry

set submenu-default latest
set menu-default retry
set boot-image default
set boot-version latest
set boot-kopts

:start
imgfree

menu Dock2Box
item --gap -- Host: Unregistered
item --gap -- Subnet: {{.Network}}/{{.Prefix}}, Site: {{.Subnet.Site.Site}}
item --gap -- Registry: {{.Subnet.Site.DockerRegistry}}
item --gap -- HWAddr: {{.HWAddr}}, IPv4: {{.IPv4}}
item --gap --
item --gap -- {{center 65 "-" " Menu "}}
item localdisk Boot from local disk
item retry Retry PXE boot
item --gap --
item --gap -- {{center 65 "-" " Images "}}
{{range .Images}}item {{.Image}} {{.Image}}
{{end}}choose --default ${menu-default} --timeout ${menu-timeout} selected
goto ${selected}

{{range $k, $e := .Images}}:{{$e.Image}}
menu Dock2Box
item --gap -- {{center 65 "-" " Versions "}}
item --key 0x08 back .. (top menu)
{{range .Versions}}item {{$e.Image}}-{{.Version}} version: {{.Version}} created: {{.Created}}
{{end}}choose --default ${menu-default}-${submenu-default} --timeout ${menu-timeout} selected
goto ${selected}
:back
goto start

:localdisk
sanboot --no-describe --drive 0x80

:retry
autoboot

{{range .Versions}}:{{$e.Image}}-{{.Version}}
kernel http://${server}/boot/${boot-image}/${boot-version}/kernel BOOTIF={{$.HWAddr}} IP={{$.IPv4}} NETMASK={{$.Netmask}} GATEWAY={{$.Gateway}} IMAGE={{$e.Image}} IMAGE_VERSION={{.Version}} ${boot-kopts}
initrd http://${server}/boot/${boot-image}/${boot-version}/initrd
boot

{{end}}{{end}}{{end}}
