{{define "host"}}{{template "docker" .}}
{{if get (print "/hwaddr/" .vars.hwaddr)}}{{template "registered" .}}{{else}}{{template "unregistered" .}}{{end}}
{{end}}

{{define "unregistered"}}
{{$g := get (print "/global")}}
{{$b := get (print "/image/" $g.bootstrap_image)}}
set menu-timeout 10000
set submenu-timeout 10000
set menu-default {{$g.image}}
set submenu-default {{$g.version}}
set server localhost
set boot-image {{$g.bootstrap_image}}
set boot-version {{$g.bootstrap_version}}
set boot-kopts {{$b.kopts}}

:start
imgfree

#menu dock2box
menu
item --gap -- {{center 65 "-" " Unregistered "}}
item --gap -- hostname: {{replace ":" "" .vars.hwaddr}}.{{$g.domain}}
item --gap -- {{center 65 "-" " Info "}}
item --gap -- ipv4: {{index .params.ipv4 0}} netmask: {{index .params.netmask 0}}
item --gap -- gateway: {{index .params.gateway 0}} hwaddr: {{.vars.hwaddr}}
item --gap -- {{center 65 "-" " Menu "}}
item localdisk Boot from local disk
item --gap -- {{center 65 "-" " Images "}}

{{$images := get "/image"}}
{{range $image, $e := $images}}item {{$image}} {{$image}}
{{end}}choose --default ${menu-default} --timeout ${menu-timeout} selected
goto ${selected}

:localdisk
sanboot --no-describe --drive 0x80

{{range $image, $e := $images}}:{{$image}}
#menu dock2box
menu
item --gap -- Image: {{$image}}
item --gap -- {{center 65 "-" " Versions "}}
item --key 0x08 back .. (top menu)
{{range $version, $e2 := $e.versions}}item {{$image}}-{{$version}} {{$version}} ({{$e2.timestamp}})
{{end}}choose --default ${menu-default}-${submenu-default} --timeout ${menu-timeout} selected
goto ${selected}
:back
goto start

{{range $version, $e2 := $e.versions}}:{{$image}}-{{$version}}
kernel {{$e.file_registry}}/${boot-image}-${boot-version}/kernel BOOTIF={{$.vars.hwaddr}} IP=None NETMASK={{index $.params.netmask 0}} GATEWAY={{index $.params.gateway 0}} ${boot-kopts} image_type={{$e.type}} image_name={{$image}} image_version={{$version}}
initrd {{$e.file_registry}}/${boot-image}-${boot-version}/initrd
boot
{{end}}{{end}}{{end}}

{{define "registered"}}
{{$g := get (print "/global")}}
{{$b := get (print "/image/" $g.bootstrap_image)}}
{{$hw := get (print "/hwaddr/" .vars.hwaddr)}}
{{$h := get (print "/host/" $hw.hostname)}}
set menu-timeout 10000
set submenu-timeout 10000
set menu-default {{$g.image}}
set submenu-default {{$g.version}}
set server localhost
set boot-image {{$g.bootstrap_image}}
set boot-version {{$g.bootstrap_version}}
set boot-kopts {{$b.kopts}}

:start
imgfree

#menu dock2box
menu
item --gap -- {{center 65 "-" " Registered "}}
item --gap -- hostname: {{$hw.hostname}}
item --gap -- build: {{$h.build}} debug: {{$h.debug}} site: {{$h.site}}
item --gap -- ipv4: {{$h.interface.default.ip}} netmask: {{$h.interface.default.netmask}}
item --gap -- gateway: {{$h.interface.default.gw}} hwaddr: {{$h.interface.default.hwaddr}}
item --gap -- {{center 65 "-" " Info "}}
item --gap -- ipv4: {{index .params.ipv4 0}} netmask: {{index .params.netmask 0}}
item --gap -- gateway: {{index .params.gateway 0}} hwaddr: {{.vars.hwaddr}}
item --gap -- {{center 65 "-" " Menu "}}
item localdisk Boot from local disk
item --gap -- {{center 65 "-" " Images "}}
{{$images := get "/image"}}
{{range $image, $e := $images}}item {{$image}} {{$image}}
{{end}}choose --default ${menu-default} --timeout ${menu-timeout} selected
goto ${selected}

:localdisk
sanboot --no-describe --drive 0x80

{{range $image, $e := $images}}:{{$image}}
#menu dock2box
menu
item --gap -- Image: {{ $image }}
item --gap -- {{center 65 "-" " Versions "}}
item --key 0x08 back .. (top menu)
{{range $version, $e2 := $e.versions}}item {{$image}}-{{$version}} {{$version}} ({{$e2.timestamp}})
{{end}}choose --default ${menu-default}-${submenu-default} --timeout ${menu-timeout} selected
goto ${selected}
:back
goto start

{{range $version, $e2 := $e.versions}}:{{$image}}-{{$version}}
kernel {{$e.file_registry}}/${boot-image}-${boot-version}/kernel BOOTIF={{$.vars.hwaddr}} IP=None NETMASK={{index $.params.netmask 0}} GATEWAY={{index $.params.gateway 0}} ${boot-kopts} image_type={{$e.type}} image_name={{$image}} image_version={{$version}}
initrd {{$e.file_registry}}/${boot-image}-${boot-version}/initrd
boot
{{end}}{{end}}{{end}}
