{{define "host"}}
{{$h := get (print "/host/" .vars.hostname)}}
set menu-timeout 10000
set submenu-timeout 10000
{{if eq $h.build "true"}}set menu-default {{$h.image}}
set submenu-default {{$h.version}}{{else}}
set menu-default localdisk
set submenu-default localdisk{{end}}
set server localhost
set boot-image 
set boot-version latest
set boot-kopts

:start
imgfree

menu Dock2Box, hostname: {{.vars.hostname}}
item --gap -- ------------------------- Info -------------------------
item --gap -- build: {{$h.build}} debug: {{$h.debug}} site: {{$h.site}}
item --gap -- ipv4: {{$h.interface.default.ip}} netmask: {{$h.interface.default.netmask}}
item --gap -- hwaddr: {{$h.interface.default.hwaddr}}
item --gap -- ----------------------- Dock2Box -----------------------
item localdisk Boot from local disk
item --gap -- ------------------------ Images ------------------------
{{$images := get "/image"}}
{{range $image, $e := $images}}item {{$image}} {{$image}}
{{end}}choose --default ${menu-default} --timeout ${menu-timeout} selected
goto ${selected}

:localdisk
localboot

{{range $image, $e := $images}}:{{$image}}
menu Dock2Box, image: {{$image}}
item --gap -- ----------------------- Tags -----------------------
item --key 0x08 back .. (top menu)
{{range $version, $e2 := $e.versions}}item {{$image}}-{{$version}} {{$version}} ({{$e2.timestamp}})
{{end}}choose --default ${menu-default}-${submenu-default} --timeout ${menu-timeout} selected
goto ${selected}
:back
goto start

{{range $version, $e2 := $e.versions}}:{{$image}}-{{$version}}
kernel http://${server}/boot/${boot-image}/${boot-version}/kernel BOOTIF={{$h.interface.default.hwaddr}} IP={{$h.interface.default.ip}} NETMASK={{$h.interface.default.netmask}} GATEWAY={{$h.interface.default.gw}} IMAGE={{$image}} IMAGE_VERSION={{$version}} ${boot-kopts}
initrd http://${server}/boot/${boot-image}/${boot-version}/initrd
boot

{{end}}{{end}}{{end}}
