/* Remove round corners on navbar */
.navbar {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

.list-sm { 
  height: 200px; 
  overflow: auto;
}

.top-margin {
  margin-top: 30px; 
}
