<table ng-controller="sysctlsController" st-table="displayedSysctls" st-safe-src="sysctls" class="table table-striped fixed sortable">
  <thead>
   <tr>
      <td colspan="2" class="text-left">
        <ng-include src="'partials/st_search.html'"></ng-include>
      </td>
    </tr>
    <tr>
      <th st-sort="key">Key</th>
      <th st-sort="value">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="sysctl in displayedSysctls">
      <td>{{ sysctl.key }}</td>
      <td>{{ sysctl.value }}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2" class="text-center">
        <div st-pagination="" st-items-by-page="10"></div>
      </td>
    </tr>
  </tfoot>
</table>
