url --mirrorlist="https://mirrors.fedoraproject.org/mirrorlist?repo=fedora-24&arch=x86_64"

lang en_US.UTF-8
keyboard us
timezone --utc --nontp Etc/UTC

authconfig --enableshadow --passalgo=sha512
selinux --disabled
rootpw --lock --iscrypted locked
firewall --disable

user --name=dock2box --password=D0ck2B0x --plaintext

network --device=em0 --bootproto=dhcp --ipv6=auto
services --enabled=network,sshd,rsyslog

bootloader --location=mbr

zerombr
clearpart --all
autopart --type=lvm --fstype=ext4

repo --name=fedora --mirrorlist="http://mirrors.fedoraproject.org/mirrorlist?repo=fedora-24&arch=x86_64"
repo --name=fedora-updates --mirrorlist="http://mirrors.fedoraproject.org/mirrorlist?repo=updates-released-f24&arch=x86_64"

firstboot --disable
reboot

%packages --excludedocs
@core

# Data
jq

# Network
net-tools
bind-utils
wget

# Archive
rsync
tar

# Hardware
dmidecode
ipmitool

# Date/time
ntp
ntpdate

# Security
sudo

# System
redhat-lsb
dracut-config-generic
kernel
grub2
grub2-efi
shim

# Filesystem
mdadm
lvm2

# Exclude packages
-chrony
-plymouth
-NetworkManager*
-alsa-firmware
-ivtv-firmware
-iwl*-firmware
%end

%post
# Only allow public key login
cat << EOF >> /etc/ssh/sshd_config
PasswordAuthentication no
RSAAuthentication yes
PubkeyAuthentication yes
EOF

# Add user sudo rules
cat << EOF > /etc/sudoers.d/dock2box
dock2box        ALL=(ALL)       NOPASSWD: ALL
Defaults:dock2box !requiretty
EOF

# Removing random-seed so it's not the same in every image
rm -f /var/lib/random-seed

# Compress cracklib
gzip -9 /usr/share/cracklib/pw_dict.pwd

# Minimize locale-archive
localedef --list-archive | grep -v en_US | xargs localedef --delete-from-archive
mv /usr/lib/locale/locale-archive /usr/lib/locale/locale-archive.tmpl
/usr/sbin/build-locale-archive

# Cleanup
dnf clean all
%end
