<nav class="navbar navbar-inverse navbar-static-top" ng-controller="PageCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/" uib-tooltip="Dashboard" tooltip-placement="bottom" tooltip-trigger="mouseenter"><img class="img-responsive2" src="img/logo.svg"></a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li ng-class="{active: activeTab == 'hosts'}"><a href="#/hosts">Hosts</a></li>
        <li ng-class="{active: activeTab == 'images'}"><a href="#/images">Images</a></li>
        <li ng-class="{active: activeTab == 'sites'}"><a href="#/sites">Sites</a></li>
        <li ng-class="{active: activeTab == 'subnets'}"><a href="#/subnets">Subnets</a></li>
      </ul>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/settings" uib-tooltip="Settings" tooltip-placement="bottom" tooltip-trigger="mouseenter"><i class="fa fa-cogs"></i></a></li>
        <li><a href="#/signout" uib-tooltip="Sign&nbsp;out" tooltip-placement="bottom" tooltip-trigger="mouseenter"><i class="fa fa-sign-out"></i></a></li>
      </ul>
    </div>
  </div>
</nav>
