{{define "dock2box"}}
console --picture {{.server_uri}}/images/dock2box.png

colour --rgb 0x888888 0
colour --rgb 0xdddddd 1
colour --rgb 0xB0C4DE 2
colour --rgb 0xB0C4DE 3

# Normal user interface
cpair --foreground 0 1

# Highlighted text
cpair --foreground 1 --background 4 2

# Separator
cpair --foreground 3 3
{{end}}
