<div class="container" ng-controller="hostsController">

<table st-table="displayedHosts" st-safe-src="hosts" class="table table-striped fixed sortable">
  <thead>
    <tr>
      <th colspan="9" class="container">
        <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-search"></i></div>
          <input st-search="" type="text" class="form-control" placeholder="Search...">
        </div>
        </div>
        <div class="form-group">
        <div class="input-btn-group pull-right">
          <button type="button" ng-click="" class="btn btn-sm btn-success">
            <i class="fa fa-plus"></i>
          </button>
          <button type="button" ng-click="" class="btn btn-sm btn-default">
            <i class="fa fa-refresh"></i>
          </button>
          <button type="button" ng-click="" class="btn btn-sm btn-default">
            <i class="fa fa-align-justify"></i>
          </button>
        </div>
        </div>
      </th>
    </tr>
    <tr>
      <th st-sort="hostname">Hostname</th>
      <th st-sort="build">Build</th>
      <th st-sort="debug">Debug</th>
      <th st-sort="gpt">GPT</th>
      <th st-sort="image">Image</th>
      <th st-sort="version">Image Version</th>
      <th st-sort="kopts">KOpts</th>
      <th st-sort="site">Site</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="host in displayedHosts">
      <td><a href="#/hosts/edit">{{ host.hostname | replace:"\\..*":"" | lowercase }}</a></td>
      <td>{{ host.build }}</td>
      <td>{{ host.debug }}</td>
      <td>{{ host.gpt }}</td>
      <td>{{ host.image }}</td>
      <td>{{ host.version }}</td>
      <td>{{ host.kopts }}</td>
      <td>{{ host.site }}</td>
      <td>
        <div class="input-btn-group pull-right">
          <button type="button" ng-click="" class="btn btn-sm btn-danger">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="9" class="text-center">
        <div st-pagination="" st-items-by-page="10"></div>
      </td>
    </tr>
  </tfoot>
</table>

</div>
