<table ng-controller="imagesController" st-table="displayedImages" st-safe-src="images" class="table table-striped fixed sortable">
  <thead>
   <tr>
      <td colspan="3" class="text-left">
        <ng-include src="'partials/st_search.html'"></ng-include>
      </td>
    </tr>
      <th st-sort="image">Image</th>
      <th st-sort="type">Type</th>
      <th st-sort="debug">Debug</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="image in displayedImages">
      <td>{{ image.image }}</td>
      <td>{{ image.type }}</td>
      <td>{{ image.debug }}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3" class="text-center">
        <div st-pagination="" st-items-by-page="10"></div>
      </td>
    </tr>
  </tfoot>
</table>
