<!-- Header -->
<div ng-include='"templates/header.html"'></div>

<!-- Content -->
<div class="container" ng-controller="sitesController">
<table st-table="displayedSites" st-safe-src="sites" class="table table-striped fixed sortable">
  <thead>
    <tr>
      <td colspan="7" class="container">
        <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-search"></i></div>
          <input st-search="" type="text" class="form-control" placeholder="Search...">
        </div>
        </div>
        <div class="form-group">
        <div class="input-btn-group pull-right">
          <button type="button" ng-click="" class="btn btn-sm btn-success">
            <i class="fa fa-plus"></i>
          </button>
          <button type="button" ng-click="" class="btn btn-sm btn-default">
            <i class="fa fa-refresh"></i>
          </button>
          <button type="button" ng-click="" class="btn btn-sm btn-default">
            <i class="fa fa-align-justify"></i>
          </button>
        </div>
        </div>
      </td>
    </tr>
    <tr>
      <th st-sort="site">Site</th>
      <th st-sort="site">Hosts</th>
      <th st-sort="site">Subnets</th>
      <th st-sort="gps">GPS Coordinates</th>
      <th st-sort="registry">Registry</th>
      <th st-sort="file_uri">File URI</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="site in displayedSites">
      <td>{{ site.site }}</td>
      <td></td>
      <td></td>
      <td>{{ site.gps }}</td>
      <td>{{ site.registry }}</td>
      <td>{{ site.file_uri }}</td>
      <td>
        <div class="input-btn-group pull-right">
          <button type="button" ng-click="" class="btn btn-sm btn-danger">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="7" class="text-center">
        <div st-pagination="" st-items-by-page="10"></div>
      </td>
    </tr>
  </tfoot>
</table>
</div>

<!-- Footer -->
<div ng-include='"templates/footer.html"'></div>
